# Configuración del Servidor
PORT=3000

# Seguridad y Autenticación
JWT_SECRET=tu_clave_secreta_jwt

# Google OAuth
GOOGLE_CLIENT_ID=tu_google_client_id.apps.googleusercontent.com

# Base de Datos
DATABASE_URL=mysql://usuario:contraseña@host:3306/nombre_base_de_datos
DB_NAME=nombre_base_de_datos
