.container-excursiones {
  display: flex;
  flex-direction: column;
  /* Asegurarse de que los elementos se apilen verticalmente */
  justify-content: center;
  width: 100%;
  padding-bottom: 10px;
}

.excursiones-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 columnas */
  grid-gap: 20px;
  /* Espacio entre las tarjetas */
  width: 90%;
  margin-left: 50px;
  margin-top: 20px;
}

.excursion-card {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.excursion-card:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.excursion-info h3 {
  margin: 0;
}

.excursion-info p {
  margin: 10px 0;
}

.boton-ver {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #0056b3;
  border-radius: 20px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  color: #333;
  cursor: pointer;
}

.boton-ver:hover {
  background-color: #0056b3;
  color: white;
}

.prueba {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.fail {
  font-size: 20px;
  text-align: center;
  margin-top: 100px;
}

/* Media queries para diseño responsive */
@media (max-width: 1024px) {
  .excursiones-list {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columnas en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .excursiones-list {
    grid-template-columns: 1fr;
    /* 1 columna en pantallas pequeñas */
  }
}