.filtro-excursiones {
  display: flex;
  gap: 2vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  width: 100%;
  justify-content: center;
}

.filtro-item {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.filtro-item label {
  font-weight: bold;
}

.filtro-item input,
.filtro-item select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filtro-boton {
  padding: 0px 10px 0px 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filtro-boton:hover {
  background-color: #003d80;
}

.container-filtro {
  display: flex;
  justify-content: center;
}


.filter-item {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filter-item input{
  margin-right: 10px; 
}

.container-filters {
  width: 95%;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  align-self: start;
  height: auto;
  margin-top: 20px;
  margin-left: 10px;
}