.container-session {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    min-height: 100vh;
}


.container-image {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.container-image img {
    width: 400px;
}

.form-session {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.left-side {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-login{
    display: flex;
    justify-content: center ;
    width: 100%;
}

.left-side h2 {
    margin-bottom: 15px;
    font-size: 22px;
    color: #333;
}


.login-form {
    width: 100%;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
}

.input-group label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group input:focus {
    border-color: #007bff;
    outline: none;
}

.error-message {
    color: red;
    margin-bottom: 15px;
}

.container-button {
    width: 100%;
}

.btn-login {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #0056b3;
}


.divider {
    width: 2px;
    background-color: #ddd;
    margin: 0 20px;
}

.right-side {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-login p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
}

.social-login button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.google-btn {
    background-color: #f35142;
}

.google-btn:hover {
    background-color: #d04a32;
}

.facebook-btn {
    background-color: #2a81f3;
}

.facebook-btn:hover {
    background-color: #1f5ca2;
}

.apple-btn {
    background-color: #333;
}

.apple-btn:hover {
    background-color: #3c3939;
}


.forgot-password,
.register-button {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.forgot-password a,
.register-button a {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover,
.register-button a:hover {
    text-decoration: underline;
}