.container2 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    padding-bottom: 10px;
  }
  
  
  .filters {
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    align-self: start;
    height: auto;
    margin-top: 20px;
    margin-left: 10px;
  }
  
  .filters h2 {
    margin-bottom: 20px;
  }
  
  .filter-item {
    margin-bottom: 20px;
  }
  
  .filter-item label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .price-range {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .hotels-list {
    display: flex;            
    flex-direction: column;
    width: 90%;
    margin-left: 50px;
    margin-top: 20px;
  }
  
  .hotel-card {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    margin-left: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .price-container {
      position: absolute;
      top: 20px; 
      right: 20px; 
      text-align: right; 
    }

    .price-label {
      font-size: 14px;
      color: #333; 
      margin: 0; 
    }

    .price-large {
      font-size: 28px; 
      font-weight: bold;
      color: #007bffc5; 
    }
  
.hotel-card:hover {
    /* transform: scale(1.01); */
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
}
  
  .hotel-card img {
    max-width: 300px;
    aspect-ratio: 16/9;
    border-radius: 10px;
    height: 100%;
  }
  
  .hotel-info {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .hotel-info h3 {
    margin: 0;
  }
  
  .hotel-info p {
    margin: 10px 0;
  }

  .boton-ver {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #0056b3;
    border-radius: 20px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease; 
    color: #333;
    cursor: pointer;
    animation: ease 1s;
    transform: perspective(500px) translateZ(0); 
}

.boton-ver:hover {
    background-color: #0056b3;
    color: white;
    transform: perspective(500px) translateZ(10px);
}

  
.prueba {
    animation: ease 1s;
    display: flex;
    width: 100%;
    justify-content:flex-end;
  }

.fail {
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
}