.custom-container-session {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    padding: 0 20px;
    margin-bottom: 30px;
}

.custom-container-image {
    margin-bottom: 30px;
}

.custom-container-image img {
    padding-top: 30px;
    width: 400px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.custom-container-image img:hover {
    transform: scale(1.05);
}

.custom-form-session {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

/* Título */
.custom-form-session h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}

/* Etiquetas */
.custom-form-session label {
    font-size: 1rem;
    color: #444;
    font-weight: 600;
    margin-bottom: 5px;
}

/* Inputs */
.custom-input {
    padding: 12px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    width: 100%;
}

/* Focus en los inputs */
.custom-input:focus {
    border-color: 007bff;
    outline: none;
    background-color: #f1f1f1;
}

/* Botón Mostrar Contraseña */
.custom-show-password {
    cursor: pointer;
    color: #007bff;
    font-size: 0.9rem;
    margin-left: 10px;
}

/* Mensaje de error */
.custom-error-message {
    color: red;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;
}

/* Botón */
.custom-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 14px 20px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

.custom-button:hover {
    background-color: #007bff;
}

/* Links */
.custom-link {
    text-align: center;
    color: #007bff;
    font-size: 0.9rem;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

.custom-link:hover {
    text-decoration: underline;
}

/* Reglas para los términos y condiciones debajo de los inputs */
.custom-terms {
    font-size: 0.9rem;
    color: #444;
    margin-top: 15px;
}

/* Validación de los inputs */
.custom-validations {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.custom-validation-item {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.custom-validation-item .valid {
    color: green;
}

.custom-validation-item .invalid {
    color: red;
}

/* Iconos de validación */
.custom-icon {
    margin-left: 5px;
}

/* Responsive */
@media (max-width: 768px) {
    .custom-form-session {
        width: 90%;
    }
}
