@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.container {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: auto;
    text-align: center;
}

.payment-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.container-inputs-reserva{
    width: 110vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 10px;
}

.container-inputs-acompañantes {
    width: 110vh;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.container-inputs-acompañantes input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container-inputs-acompañantes input[type="date"] {
    width: 70vh;
}

.payment-options{
    display: flex;
    justify-content: center;
    gap: 20px;
}


.stepper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.steps{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0 20px 0;
}
.step {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #ddd;
    color: #666;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.step.active {
    background-color: #007bff;
    color: white;
}

.progress-bar {
    flex: 1;
    height: 4px;
    background-color: #ddd;
    margin: 0 10px;
    position: relative;
}

.progress-bar .progress {
    width: 0%;
    height: 100%;
    background-color: #007bff;
    transition: width 0.5s ease-in-out;
}


.form-container {
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.form-container.active {
    opacity: 1;
    transform: translateY(0);
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-reserva{
    width: 100%;
    gap: 20px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botones-reserva{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.botones-reserva button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

button:hover {
    background-color: #0056b3;
}

.acompanante-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.pagination-numbers .number.active {
    background-color: #004997;
    color: white;
}

.pagination-numbers arrow-button.active {
    background-color: #007bff;
}

.pagination-numbers{
    display: flex;
    gap: 3px;
}


.success-message {
    background-color: #d4edda;
    color: #155724;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
